footer{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #1C1C1C;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container img {
    margin: 80px 0;
    max-width: 400px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 25px;
    width: 1100px;
    border-top: 3px solid #888888;
    font: 600 14px "Futura", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.footer-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-links ul li {
    margin: 0 10px;
    color: #888888;
    transition-duration: 350ms;
}

.footer-links ul li:hover {
    margin: 0 10px;
    color: #FFFFFF;
}

.footer-links-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    transition-duration: 350ms;
}

.footer-links-link:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.footer-links img {
    max-width: 200px;
    margin: 0;
}

@media (max-width: 1300px) {
    .footer-links {
        width: 90%;
        padding: 0 5%;
        margin: 0;
    }
}

@media (max-width: 1100px) {
    .footer-links {
        font: 900 16px "Futura", sans-serif;
    }
    .top-page {
        display: none;
    }
    .footer-links img {
        margin: 5%;
    }
}
@media (max-width: 810px) {
    .footer-links{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-links ul {
        margin-top: 35px;
    }
    .footer-links img {
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .footer-container img {
        max-width: 80%;
    }
    .footer-links ul {
        flex-direction: column;
    }
    .footer-links ul li {
        margin: 10px 0;
    }
    .footer-links img {
        margin-top: 35px;
    }
}