.title-group {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    width: 580px;
    position: relative;
}

.title-group h1 {
    font: 300 80px/89px "Playfair", serif;
    padding: 0 0 20px;
    margin: 0;
}

.title-group p {
    color: #B0976D;
    font: 100 14px/16px "Futura", sans-serif;
    margin: 5px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.article {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25%;
    margin-left: 75%;
}

.article h3 {
    font: 600 35px/35px "Futura", sans-serif;
    letter-spacing: -1px;
    margin: 0 0 20px;
}

.article p {
    position: relative;
    font: italic 100 16px/24px "Helvetica Neue", "Playfair", serif;
    color: #CCCCCC;
    word-wrap: break-word;
}

.article p span {
    color: #B0976D;
}

.presentation {
    margin-top: 100px;
    height: 300px;
    width: 66.666%;
    margin-left: 33.332%;
    position: relative;
}

.presentation h2 {
    margin: 0 0 50px;
    font: normal 600 35px/40px "Futura", sans-serif;
    letter-spacing: -2px;
    color: #B0976D;
}
.presentation p {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}