body {
    background-color: #000000;
    color: #CCCCCC;
    width: 100%;
}

.container {
    width: 1100px;
    margin: 0 auto 80px;
}

.bg {
    position: absolute;
    width: 800px;
    margin: 0 150px;
}

@media (max-width: 1300px) {
    .container {
        width: 100%;
        padding: 0 100px;
    }
}