body {
    background-color: #000000;
    color: #CCCCCC;
    width: 100%;
}

.container {
    width: 1100px;
    margin: 0 auto 80px;
}

.overflowHidden {
    overflow: hidden;
}

.bg {
    position: absolute;
    width: 800px;
    margin: 0 150px;
}

.title-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 150px;
}

.title-group h1 {
    font: 300 80px/89px "Playfair", serif;
    padding: 0 0 20px;
    margin: 0;
}

.title-group p {
    color: #B0976D;
    font: 600 14px/16px "Futura", sans-serif;
    margin: 5px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title-group-right{
    align-items: flex-end;
    width: 100%;
}
.title-group-right p{
    text-align: right;
}


@media (max-width: 1300px) {
    .container {
        width: 90%;
        padding: 0 5%;
        margin: 0;
    }

    .bg {
        width: 70%;
        margin: 0 10%;
    }

    .title-group p {
        font: 700 16px/16px "Futura", sans-serif;
    }
}

@media (max-width: 720px) {
    .title-group {
        margin-top: 0px;
    }
    .title-group h1 {
        font: 300 56px/36px "Playfair", serif;
    }
    .title-multilines h1 {
        font: 300 56px/60px "Playfair", serif;
        letter-spacing: 2px;
    }
    .title-group p {
        font: 700 12px/16px "Futura", sans-serif;
    }
}
@media (max-width: 460px) {
    .title-group h1 {
        font: 300 32px/12px "Playfair", serif;
    }
    .title-multilines h1 {
        font: 300 32px/36px "Playfair", serif;
    }
    .title-group p {
        font: 700 14px/20px "Futura", sans-serif;
        letter-spacing: 1px;
    }
}