.services {
    margin-bottom: 50px;
}
.services-gallery {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-gallery-item{
    width: 30%;
    margin-bottom: 50px;
}
.services-gallery-item img {
    width: 60px;
}

.services-gallery-item h2 {
    font: 600 30px/35px "Futura", sans-serif;
    margin-bottom: 15px;
}
.services-gallery-item p {
    font: 300 20px/30px "Futura", sans-serif;
}

@media (max-width: 980px) {

    .services-gallery-item{
        width: 45%;
        margin-bottom: 50px;
    }
}
@media (max-width: 760px) {
    .services-gallery {
        margin-top: 30px;
    }
    .services-gallery-item{
        width: 100%;
        margin-bottom: 50px;
    }

    .services-gallery-item h2 {
        font: 600 30px/34px "Futura", sans-serif;
    }

    .services-gallery-item p {
        font: 200 18px/30px "Futura", "Playfair", serif;
    }
}