.services {
    margin-bottom: 50px;
}
.services-gallery {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-gallery-item{
    width: 300px;
    margin-bottom: 50px;
}
.services-gallery-item img {
    width: 60px;
}

.services-gallery-item h2 {
    font: 600 30px/35px "Futura", sans-serif;
    margin-bottom: 15px;
}
.services-gallery-item p {
    font: 300 20px/30px "Futura", sans-serif;
}

@media (max-width: 1100px) {
    .services-gallery-item{
        width: 45%;
        margin-bottom: 50px;
    }

    .services-gallery-item h2 {
        font: 600 38px/40px "Futura", sans-serif;
    }

    .services-gallery-item p {
        font: 200 22px/34px "Helvetica Neue", "Playfair", serif;
    }

}